// .accordion-box {
//   background-color: var(--theme-color2);
//   border-radius: 30px;
//   box-shadow: 0 10px 30px rgba(0,0,0, .1);
//   // max-width: 863px;
//   // padding: 60px 70px 35px;
//   position: relative;
//   @include media-breakpoint-down(md){
//     padding: 60px 40px 35px;
//   }
//   .block {
//     box-shadow: none;
//     position: relative;
//     .acc-btn {
//       //border-bottom: 1px solid var(--theme-color-silver);
//       border-radius: 0;
//       color: var(--theme-color-white);
//       cursor: pointer;
//       font-size: 24px;
//       font-weight: 500;
//       letter-spacing: -.04em;
//       line-height: 34px;
//       margin-bottom: 20px;
//       padding: 0px 0 30px;
//       padding-right: 70px;
//       position: relative;
//       transition: all 500ms ease;
//       .icon {
//         color: var(--theme-color-silver);
//         font-size: 14px;
//         height: 35px;
//         left: auto;
//         line-height: 38px;
//         position: absolute;
//         right: 0px;
//         text-align: center;
//         top: 0px;
//         transition: all 500ms ease;
//       }
//       &.active{
//         color: var(--theme-color1);
//         background-color: transparent;
//         top: 0;
//       }
//       &.active .icon {
//         color: var(--bg-theme-color1);
//         &:before {
//           content: "\f106";
//         }
//       }
//     }
//     &.active-block{
//       margin-bottom: 30px;
//     }
//   }
//   .acc-content {
//     display: none;
//     position: relative;
//     .content {
//       padding: 0 0 10px;
//       position: relative;
//       .text {
//         color: var(--theme-color-lighter2);
//         display: block;
//         font-size: 16px;
//         line-height: 30px;
//         margin-bottom: 0;
//       }
//     }
//     &.current {
//       display: block;
//       margin-bottom: 30px;
//     }
//   }
// }

.accordion-box {
	position: relative;
	.block {
		position: relative;
		margin-bottom: 10px;
		border-radius: 20px;
		border: 1px solid rgba(255, 255, 255, 0.13);
		background: var(--body-bg);
		padding: 27px 30px;
		line-height: 1;
		&:last-child {
			margin-bottom: 0;
		}
		.acc-btn {
			position: relative;
			font-size: 20px;
			color: var(--theme-color-white);
			font-weight: 500;
			transition: all 500ms ease;
			span {
				color: var(--theme-color1);
			}
			@include media-breakpoint-down(xl) {
				font-size: 20px;
			}
      @include media-breakpoint-down(md) {
        padding-right: 40px;
      }
			.icon {
				@include icon;
				background-color: var(--theme-color2);
				color: var(--theme-color2-text-color);
				font-size: 18px;
				height: 35px;
				line-height: 25px;
				position: absolute;
				right: 0;
				transition: all 500ms ease;
				width: 34px;
				top: -8px;
			}
			&.active {
				color: var(--theme-color1);
				.icon {
					background-color: var(--theme-color1);
					color: var(--headings-color);
					&:before {
						content: "\f068";
					}
				}
			}
		}
		.acc-content {
			position: relative;
			display: none;
			padding-right: 20px;
			margin-top: 20px;
			.content {
				position: relative;
				.text {
					display: block;
					font-size: 16px;
					line-height: 30px;
					margin-bottom: 0;
					color: var(--theme-color-white);
					@include media-breakpoint-down(md) {
						padding: 0;
					}
				}
			}
			&.current {
				display: block;
			}
		}
		&.active-block {
			background: radial-gradient(196.16% 133.29% at 100% 98.08%, #222B1C 0%, #151515 55.18%);
		}
	}
}
